main{
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;color: black;

}

#hero{
    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-card{
display: flex;
flex-direction: column;
gap: 20px;
width: 50%;
}

.hero h1{
    font-size: 120px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
    color: rgb(20, 19, 19);

}

#hero a{
    color: aliceblue;
    background-color: rgb(82, 82, 151);
    width: 120px;
    padding: 8px 0;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;

}

#info{
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;

}

#info h2{
    font-size: 25px;
    
}
